/* .App {
    font-family: sans-serif;
    text-align: center;
  } */
  
  .listMenu {
    padding: 5px 10px;
    /* margin-top: 5px; */
    background: #303030;
    color: #f7f7f7;
  }
  .iconCollapse {
    padding: 5px;
    cursor: pointer;
  }
  .listMenuRead {
    padding: 5px 10px;
    /* margin-top: 5px; */
    background: #868686;
    color: #f7f7f7;
  }