.forgot {
	&-form {
		display: flex;
		flex-direction: column;
	}
	&-submit {
		margin-top: 1rem !important;
	}
	&-create {
		display: flex;
		justify-content: center;
		margin-top: 1rem;

	}
	&-instructions {
		width: 85%;
	}
}
