.log {
	&-form {
		display: flex;
		flex-direction: column;
	}
	&-text {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
		align-items: baseline;
	}
	&-submit {
		margin-top: 1rem !important;
	}
	&-create {
		margin-top: 1rem;
		display: flex;
		justify-content: space-evenly;
	}
}
