.reset{
    &-rightpage {
        width: 25%;
        padding: 10% 0 0 5%;
        flex-direction: column;
        overflow: auto;
    }

    &-form {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-submit{
        margin-top: 1rem !important;
    }
    &-create{
        margin-top: 5% !important;
        display: flex !important;
        margin: 30%;
    }
    &-instructions{
        width: 85%;
    }
    
}