.app{
    &-leftpage {
        width: 70%;
        height: 100%;
        background: grey;
        position: relative;
      }
      &-logo {
        position: absolute;
        top: 5%;
        left: 5%;
        display: flex;
        width: 25%;
        align-items: flex-start;
    }

}