.input-layout {
	display: flex;
	width: 100%;
	min-height: 100vh;

	&-rightpage {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex: 1;
		overflow: auto;
		padding: 12px 24px 12px 0;
	}

	&-leftpage {
		flex: 2;
		background: grey;
		position: relative;
	}
}
