.log {
	&-form {
		width: 85%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&-text {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
	}
	&-forgot {
		margin-top: 4%;
	}
	&-submit {
		margin-top: 1rem !important;
	}
	&-create {
		margin-top: 2rem !important;
		display: flex !important;
		justify-content: space-evenly;
	}
}
