.reg{
    &-rightpage {
        width: 25%;
        padding: 1% 0 0 5%;
        flex-direction: column;
        overflow: auto;
    }

    &-form {
        width: 85%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-submit{
        margin-top: 1rem !important;
    }
    &-sign{
        margin-top: 2rem !important;
        display: flex !important;
        justify-content: space-evenly
    }
    &-list{
        font-size: 0.9rem;
        color: #5d5d5d;
        list-style-type: "\1F44D";
    }
    &--one-li{
        color: #259c08;
    }
}

.MuiFormHelperText-root{
    color: red !important;
}