.reg{
    &-rightpage {
        width: 25%;
        padding: 3% 0 0 5%;
        flex-direction: column;
        overflow: auto;
    }

    &-form {
        width: 85%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-submit{
        margin-top: 1rem !important;
    }
    &-create{
        margin-top: 2rem !important;
        display: flex !important;
        justify-content: space-evenly
    }
    &__error-message{
        color: red;
        font-size: 0.9rem;
    }
    &-list{
        font-size: 0.9rem;
        color: #5d5d5d
    }
    &--one-li{
        color: green;
    }
}