.reg{
    &-rightpage {
        width: 25%;
        padding: 7% 0 0 5%;
        flex-direction: column;
        overflow: auto;
    }

    &-form {
        width: 85%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-forgot{
        margin-top: 3.5%;
    }
    &-submit{
        margin-top: 1rem !important;
        background-color: violet !important;
    }
    &-create{
        margin-top: 2rem !important;
        display: flex !important;
        justify-content: space-evenly
    }
}